**Bag Of Words Model**

In [11]:
import numpy as np
import pandas as pd

**A function to transform into a table**

In [41]:
def data_table(doc):
    df = pd.read_csv(doc,delimiter='\t', header=None, names=['Review_text','Class'])
    return df.head()

                                         Review_text  Class
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

**read 1st txt file**

In [47]:
data_amazon = data_table('amazon_cells_labelled.txt')

**read 2nd txt file**

In [48]:
data_yelp = data_table('yelp_labelled.txt')

**read 3rd txt file**

In [49]:
data_imdb = data_table('imdb_labelled.txt')

**Concatenate All Data into ONE**

In [50]:
data = pd.concat([data_amazon,data_yelp,data_imdb])
data.head()

                                         Review_text  Class
0  So there is no way for me to plug it in here i...      0
1                        Good case, Excellent value.      1
2                             Great for the jawbone.      1
3  Tied to charger for conversations lasting more...      0
4                                  The mic is great.      1

**Shape of the big file**

In [51]:
data.shape

(15, 2)